form {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  resize: none;
  margin-top: 50px;
}

input[type=submit] {
  background-color: rgb(14, 67, 159);
  color: white;
  font-family: 'Bungee', cursive;
  width: 20%;
  border-radius: 4px;
  text-align: center;
  float: left;
}

.new-tweet {
  text-align: center;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
}

span.error1 {
  color: red;
  border: 2px solid red;
  border-radius: 4px;
  padding: 5px 100px 0px 210px;
  margin-top: 50px;
  display: none;
}