<nav>
  <h1 class="brand">CRuns</h1>
  <div>
    <% if (user && user.email) { %>
      <a href="/shops/new">Add a coffee shop</a>
      <a href="/logout">Logout</a>
      <strong>Welcome <%= user.email %>!</strong>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</nav>