nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 120px;
  z-index: 9999;
  background-color: #4056A1;
  padding: 1.5em;
  color: #ffffff;
}

span.logo {
  float: left;
  font-family: 'Bungee', cursive;
  font-size: 40px;
  margin-bottom: 30px;
}

span.write-tweet {
  position: relative;
  float: right;
}

div.arrow-bounce img {
  float: right;
  width: 40px;
  margin-top: 20px;
  position: relative;
  left: 100px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-15px);
  }
}


