<h1>WELCOME TO BLOG TOWN</h1>
<a href="/blogs/new">NEW BLOG!</a>
<% for (let blogKey in blogs) { %>
    <div style="border: solid 2px red; border-radius: 4px;">
        <h3><%= blogs[blogKey].title %></h3>
        <p><%= blogs[blogKey].content %></p>
        <a href="/blogs/<%= blogKey %>">EDIT</a>
        <form method="POST" action="/blogs/<%= blogKey %>/delete">
            <input type="submit" value="DESTROY 🛑" />
        </form>
    </div>
<% } %>

