<h1>YOU CAN MAKE A NEW BLOG HERE</h1>

<form action="/blogs" method="POST">
    <p>Title</p>
    <input name="title" type="text">
    <p>Content</p>
    <input name="content" type="text">
    <input type="submit" value="Create New Blog" />
</form>