
.newtweet__form {
  width: 100%;
  padding: 10px;
  background: #f4f1ec;
  margin: 50px 0px;
}

.form__textarea {
  width: 100%;
  height: 50px;
  font-size:20px;
  display:block;
  border:none;
  border-bottom:4px solid #545149;
  background:#f4f1ec;
  margin: 0;
  outline: none;
  overflow: auto;
  resize: none;
}

.form__textarea::placeholder {
  color: #545149;
  opacity: 1;
  font-weight: 600;
  font-size: 25px;
}

.form__footer {
  display: flex;
  justify-content: space-between;
}

.form__input {
  color: #000;
  font-family: 'Bungee', cursive;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  border: none;
  background-color: #4056A1;
  text-decoration: none;
  padding: 6px 12px;
  cursor: pointer;
  margin-top: .8em;
}

.form__counter {
  font-family: 'Bungee', cursive;
  font-size: 1em;
  margin-right: 8px;
  margin-top: .6em;
}

.form--red {
  color: #f13c20;
}
