<html>

<head>
  <title>Coffee Run</title>
  <style>
    article.shop {
      display: flex;
      height: 400px;
      width: 300px;
    }
  </style>
</head>

<body>
  <nav>
    <h1 class="brand">CRuns</h1>
  </nav>
  <main>
    <h2>Add shop form</h2>
    <form action="/shops" method="POST">
      <div>
        <label for="name">Shop Name</label>
        <input type="text" name="name" id="name" />
      </div>

      <div>
        <label for="location">Where you at, shop?</label>
        <input type="text" name="location" id="location" />
      </div>
      
      <div>
        <label for="photo">Dope Photo here</label>
        <input type="text" name="photo" id="photo" />
      </div>

      <div>
        <label for="description">Description of experience to expect</label>
        <textarea type="text" name="description" id="description"></textarea>
      </div>

      <button type="submit">Add Shop</button>
    </form>
  </main>
</body>

</html>