<h1>Create Photo</h1>
<form action="/photos" method="POST">
  <input type="text" name="text" placeholder="text">
  <input type="text" name="url" placeholder="url">
  <button type="submit">Create Photo</button>
</form>