<html>

<head>
  <title>Coffee Run</title>
  <style>
    article.shop {
      display: flex;
      height: 400px;
      width: 300px;
    }
  </style>
</head>

<body>
  <nav>
    <h1 class="brand">CRuns</h1>
  </nav>
  <main>
    <form action="/shops" method="POST">
      <label for="name">Shop Name</label>
      <input type="text" name="name" id="name">
    </form>
  </main>
</body>

</html>