section {
  font-family: Bungee;
}
textarea {
  display: flex;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 3px solid  #444340;
  background-color: #f4f1ec;
  margin-top: 10px;
  font-family: "Source Sans Pro";
  font-style: italic;
  align-content: center;
  height: 50px;
  color:  #444340;
  resize: none;
  outline: 0 !important;
}

.colorRed {
  color: red;
}

.flexBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-family: Bungee;
  margin-top: 10px;
  font-size: 20px;

}

.tweet {
  background-color: #4056A1;
  color: white;
}

::placeholder {
  color: black;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
}

article {
  height: 200px;
  margin-top: 10px;
  padding: 0px;
  border: 3px solid #444340;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

/* article:hover {
  box-shadow: 6px 6px rgb(142, 168, 192); 
} */


.tweetHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  border-bottom: 3px solid #444340;
  margin-left: 10px;
  margin-right: 10px;
  flex-wrap: wrap;
 

}
/* .leftHeader {
  display: flex;
  justify-content: left;
}
.rightHeader {
  display: flex;
  justify-content: right;
} */
.tweetCardTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 45%;
}

.leftHeader {
  display: flex;
}
.leftHeader img {
  float: left;
  margin: 16px;
  height: 45px;
  
}
.username {
  margin: 8px;
  margin-top: 18px;
}


.rightHeader {
  display: flex;
}
.handle {
  margin: 18px;
}

.tweetCardBottom {
  display: flex;
  align-content: center;
  /* justify-content: left; */
  border-bottom: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
  height: 30%;
}
.tweetBody {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
}

.tweetFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  font-size: 18px;
  /* border: 2px solid red; */
  
}

.footerLeft {
  display: flex;
  border: 2px solid red;
  margin-left: 16px;

}
.footerRight {
  display: flex;
  /* border: 2px solid red; */
  margin-right: 16px;

}


/* #some-element { display: none; }
#some-div:hover #some-element { display: block; } */