@import "variables";

section {
  display: flex;
}

.sub-section {
  flex: 5;
  line-height: 1.4;
}

.top,
.bottom {
  display: flex;
}

@mixin cool-styles {
  text-decoration: underline;
}

@mixin cool-styles-with-args ($params, $arg) {
  text-decoration: underline;
  font-size: $params * 2;
  line-height: $arg / 10;
}

.home-page {
  color: green;
  @extend .sub-section;
  img {
    font-size: 20px;
  }
  
  section {
    color: purple;

    span {
      color: red;

      &:hover {
        color: tomato;
      }

      &.some-class {
        padding: 200px;
      }
    }
  }
}

.two {
  flex: 2;
  @include cool-styles();
}

.one-half {
  flex: 1.5;
  @include cool-styles-with-args(6px, 130)
}

img {
  width: 200px;
  border-radius: 5px;
  border: $border
} 