* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: aliceblue;
  height: 80px;
}

@media screen and (max-width: 500px) {
  header {
    background-color: hotpink;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}


@media screen and (max-width: 560px) {
  main > div:last-child {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  header {
    background-color: hotpink;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
  }
}

@media screen and (min-width: 501px) {
  header {
    background-color: brown;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
  }
}

main {
  width: 100%;
  background-color: gray;
  height: 500px;
}
main div {
  height: 100px;
  width: 30%;
  min-width: 100px;
  max-width: 200px;
  background-color: rebeccapurple;
  text-align: center;
  font-size: 32px;
  border: 2px solid white;
  display: inline-block;
}

section > div {
  font-size: 16px;
}
