* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

header,
section,
footer,
nav,
.nav-item > a { padding: 20px;}

.logo { width: 500px;}
.nav-item { width: 150px;}
ul, .logo, .nav-item {
  display: inline-block;
}

nav { height: 75px;}
ul { list-style: none;}

header {
  background-color: purple;
  color: azure;
  height: 540px;
}

section {
  display: inline-block;
  width: 950px;
}
section > h2 { padding: 40px 0px;}
section div { padding: 10px 20px;}

.outer { border: 2px solid lightslategray;}
.inner { border: 2px dashed lightsalmon;}
.innermost { border: 2px dotted lightseagreen;}

.em { background-color: #c0ffee;}
footer { background-color: darkseagreen;}