section {
  display: flex;
}

.sub-section {
  flex: 5;
}

.top, .bottom {
  display: flex;
}

.two {
  flex: 2
}

.one-half {
  flex: 1.5
}

img {
  width: 200px;
  border-radius: 5px;
  border: 1px solid white;
}

@media screen and (max-width: 800px) {
  .sub-section .two {
    display: none;
  }
}