header.profile {
  height: 400px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2ad00;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png")
}

img {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  padding-top: 20px;
}

div h2 {
  text-align: center;
  color: white;
  margin-top: 0;
  padding-top: 0;
}