<html>
  <head>
    <title>My page</title>
  </head>
  <body>
    <h1>
      Welcome! <% if (user) { %>
        <h3><%= user.name %></h3>
      <button>Logout</button>
      <% } else {%>
        <button>Please sign in</button>
      <% }%>
    </h1>
  </body>
</html>